.pager {
  text-align: center;
  padding: 15px 0;
}
.pager .unlink {
  opacity: .5;
  color: #999;
}
.pager a {
  color: #333;
}

.pager-btn {
  display: inline-block;
  border: 1px solid #d2d2d2;
  background-color: #eaeaea;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
  line-height: 26px;
  padding: 0 7px;
}

.pager-select {
  padding: 0;
  text-align: center;
}
.pager-select select {
  background-color: #eaeaea;
  border: none;
  height: 26px;
  padding: 0 14px 0 6px;
}
.pager-select .icon {
  font-size: px2rem(28px);
  top: 5px;
}

.empty {
  font-size: px2rem(44px);
  text-align: center;
  padding: 50px 0;
}

.empty {
  font-size: px2rem(36px);
  line-height: 1.5;
  text-align: center;
  padding: 50px 30px;
}

@media screen and (max-width: 319px) {
  html {
    font-size: 19.9375px;
  }
}
@media only screen and (min-width: 320px) {
  html {
    font-size: 20px;
  }
}
@media only screen and (min-width: 360px) {
  html {
    font-size: 22.5px;
  }
}
@media only screen and (min-width: 375px) {
  html {
    font-size: 23.4375px;
  }
}
@media only screen and (min-width: 384px) {
  html {
    font-size: 24px;
  }
}
@media only screen and (min-width: 400px) {
  html {
    font-size: 25px;
  }
}
@media only screen and (min-width: 414px) {
  html {
    font-size: 25.875px;
  }
}
@media only screen and (min-width: 424px) {
  html {
    font-size: 26.5px;
  }
}
@media only screen and (min-width: 480px) {
  html {
    font-size: 30px;
  }
}
@media only screen and (min-width: 540px) {
  html {
    font-size: 33.75px;
  }
}
.topbar {
  background-color: #d0424e;
  height: 44px;
  padding: 0 44px 0 44px;
  position: relative;
  z-index: 100;
}
.topbar .ope {
  display: block;
  float: left;
  width: 44px;
  text-align: center;
  padding: 13px 0 11px;
}
.topbar .ope .icon {
  font-size: 1rem;
  color: #fff;
  vertical-align: middle;
}
.topbar .ope-left {
  margin-left: -44px;
}
.topbar .ope-left.active {
  background-color: #c91222;
}
.topbar .ope-right {
  float: right;
  margin-right: -44px;
}
.topbar .ope-return .icon:before {
  content: get(chevron-left);
}
.topbar .search {
  right: -100%;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.topbar .search-focus {
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.menu-more {
  visibility: hidden;
  position: absolute;
  top: 0;
  opacity: 0;
  z-index: -1;
  background-color: #262626;
  width: 100%;
  left: 0;
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  -o-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}
.menu-more.active {
  -webkit-transform: translate3d(0, 44px, 0);
  -moz-transform: translate3d(0, 44px, 0);
  -ms-transform: translate3d(0, 44px, 0);
  -o-transform: translate3d(0, 44px, 0);
  transform: translate3d(0, 44px, 0);
  opacity: 1;
  z-index: 99;
  visibility: visible;
}

.menu-more-lst {
  overflow: hidden;
}
.menu-more-lst li {
  float: left;
  width: 50%;
  font-size: 0.7rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.menu-more-lst li:nth-child(2n) {
  border-left: 1px solid #000;
  border-right: 1px solid #000;
}
.menu-more-lst li a {
  display: block;
  text-align: center;
  padding: 12px 0;
  color: #e6e6e6;
}
.menu-more-lst li a .icon {
  display: block;
  font-size: 1rem;
  color: #e6e6e6;
  vertical-align: -2px;
  margin-bottom: 5px;
}

.page-title {
  width: 100%;
  float: left;
  text-shadow: 0 1px 0 #5c1111;
}
.page-title .page-title-text {
  font-size: 0.9rem;
  color: #fff;
  text-align: center;
  line-height: 44px;
  font-family: 'microsoft yahei';
}

.search {
  background-color: #eb2334;
  position: absolute;
  width: 100%;
  right: 0;
  z-index: 9;
}

.search-bd {
  padding: 5px 136px 5px 5px;
  height: 44px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

.input-search {
  position: relative;
  float: left;
  width: 100%;
}
.input-search .txt {
  width: 100%;
  border: none;
  height: 34px;
}
.input-search .txt[disabled="disabled"] {
  background-color: #fff;
}
.input-search .txt[disabled="disabled"]::-webkit-input-placeholder {
  color: #666;
}
.input-search .txt:focus {
  border: none;
}
.input-search .icon {
  position: absolute;
  right: 8px;
  top: 9px;
}
.input-search .icon-times-circle {
  display: none;
}

.search-type,
.search-go,
.search-cancel {
  float: right;
  margin-right: -131px;
}

.search-go {
  text-align: center;
  background-color: #fff;
  margin-right: -94px;
  background-image: -moz-linear-gradient(top, #ffcc01 0, #f3be0e 100%);
  background-image: -webkit-linear-gradient(top, #ffcc01 0, #f3be0e 100%);
  background-image: -o-linear-gradient(top, #ffcc01 0, #f3be0e 100%);
  background-image: linear-gradient(to bottom, #ffcc01 0, #f3be0e 100%);
}
.search-go .icon {
  color: #50440b;
  margin-top: 9px;
  text-shadow: 0 1px 0 #ddd;
}

.search-go-btn {
  cursor: pointer;
  display: block;
  width: 32px;
  height: 34px;
}

.search-type {
  border: 2px solid #eb2334;
  border-style: none solid;
  width: 58px;
  text-align: center;
  margin-right: -62px;
}

.search-cancel-btn {
  display: inline-block;
  height: 34px;
  line-height: 34px;
  padding: 0 2px;
  margin-left: 5px;
}
.search-cancel-btn:link, .search-cancel-btn:visited, .search-cancel-btn:hover {
  color: #fff;
}

.suggest {
  position: absolute;
  top: 40px;
  left: 0;
  z-index: 9999;
  background: rgba(0, 0, 0, 0.5);
  width: 100%;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  border-bottom: 2px solid #b8b8b8;
  -webkit-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
  box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
}

.suggest-lst {
  background: #fff;
}
.suggest-lst li {
  border-bottom: 1px solid #ebebeb;
}
.suggest-lst li a {
  display: block;
  padding: 10px 15px;
  color: #666;
}

@media screen and (max-width: 319px) {
  html {
    font-size: 19.9375px;
  }
}
@media only screen and (min-width: 320px) {
  html {
    font-size: 20px;
  }
}
@media only screen and (min-width: 360px) {
  html {
    font-size: 22.5px;
  }
}
@media only screen and (min-width: 375px) {
  html {
    font-size: 23.4375px;
  }
}
@media only screen and (min-width: 384px) {
  html {
    font-size: 24px;
  }
}
@media only screen and (min-width: 400px) {
  html {
    font-size: 25px;
  }
}
@media only screen and (min-width: 414px) {
  html {
    font-size: 25.875px;
  }
}
@media only screen and (min-width: 424px) {
  html {
    font-size: 26.5px;
  }
}
@media only screen and (min-width: 480px) {
  html {
    font-size: 30px;
  }
}
@media only screen and (min-width: 540px) {
  html {
    font-size: 33.75px;
  }
}
.btn {
  display: inline-block;
  vertical-align: middle;
  text-align: center;
  cursor: pointer;
  padding: 0;
  margin: 0;
  border: none;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}

button.btn::-moz-focus-inner,
input.btn::-moz-focus-inner {
  border: none;
  padding: 0;
}
button.btn:focus,
input.btn:focus {
  outline: none;
}

.btn-primary {
  color: #fff;
  background-color: #d0424e;
  border: 1px solid #d0424e;
}
.btn-primary:link, .btn-primary:visited, .btn-primary:hover {
  color: #fff;
}
.btn-primary:hover {
  background-color: #cd3643;
}

.btn-info {
  color: #fff;
  background-color: #1c8fe8;
  border: 1px solid #1c8fe8;
}
.btn-info:link, .btn-info:visited, .btn-info:hover {
  color: #fff;
}
.btn-info:hover {
  background-color: #1787de;
}

.btn-default {
  color: #333;
  background-color: #ddd;
  border: 1px solid #ddd;
}
.btn-default:link, .btn-default:visited, .btn-default:hover {
  color: #333;
}
.btn-default:hover {
  background-color: #d5d5d5;
}

.btn-warn {
  color: #fff;
  background-color: #ff860d;
  border: 1px solid #ff860d;
}
.btn-warn:link, .btn-warn:visited, .btn-warn:hover {
  color: #fff;
}
.btn-warn:hover {
  background-color: #fd7e00;
}

.btn-white {
  color: #333;
  background-color: #fff;
  border: 1px solid #ccc;
}
.btn-white:link, .btn-white:visited, .btn-white:hover {
  color: #333;
}
.btn-white:hover {
  background-color: #f7f7f7;
}

.btn-lightprimary {
  color: #d0424e;
  background-color: #fef6f4;
  border: 1px solid #be2a36;
}
.btn-lightprimary:link, .btn-lightprimary:visited, .btn-lightprimary:hover {
  color: #d0424e;
}
.btn-lightprimary:hover {
  background-color: #fdebe6;
}

.btn-disabled {
  color: #999;
  background-color: #f0f0f0;
  border: 1px solid #d8d8d8;
}
.btn-disabled:link, .btn-disabled:visited, .btn-disabled:hover {
  color: #999;
}
.btn-disabled:hover {
  background-color: #e8e8e8;
}

.btn-s {
  height: 32px;
  line-height: 30px;
  padding: 0 20px;
  font-size: 16px;
}

button.btn-s,
input.btn-s {
  height: 34px;
}

.btn-m {
  height: 38px;
  line-height: 36px;
  padding: 0 20px;
  font-size: 18px;
}

button.btn-m,
input.btn-m {
  height: 40px;
}

.btn-strip {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
}

.btn-disabled,
.btn-disabled:hover {
  background-image: none;
  background-color: #eee;
  border: 1px solid #d9d9d9;
  color: #999;
  cursor: default;
}

a.btn-disabled {
  color: #999;
}

.slides {
  width: 100%;
  position: relative;
  overflow: hidden;
}

.slides {
  overflow: hidden;
  -webkit-backface-visibility: hidden;
  -webkit-transform-style: preserve-3d;
  -moz-transform-style: preserve-3d;
  -ms-transform-style: preserve-3d;
  -o-transform-style: preserve-3d;
  transform-style: preserve-3d;
}

.slide-item {
  width: 100%;
  height: 100%;
  float: left;
  display: table;
  clear: none;
}
.slide-item img {
  width: 100%;
}

.slide-img-box {
  display: table-cell;
  text-align: center;
}

.slider-nav {
  position: absolute;
  right: 10px;
  bottom: 7px;
}

.slider-nav__item {
  width: 10px;
  height: 5px;
  float: left;
  margin-left: 5px;
  border-radius: 5px;
  border: 1px solid #b8b0b0;
  background: rgba(255, 255, 255, 0.5);
}

.slider-nav__item--current {
  border: 1px solid #dd4545;
  background: #dd4545;
}

.alpha,
.sideslip,
.sideslip-close,
.sideslip-main {
  height: 100%;
}

.alpha {
  width: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  z-index: 999;
  top: 0;
  right: -100%;
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.alpha.active {
  -webkit-transition: all 0.3s ease-in-out;
  -moz-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-transform: translate3d(-100%, 0, 0);
  -moz-transform: translate3d(-100%, 0, 0);
  -ms-transform: translate3d(-100%, 0, 0);
  -o-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
}

.sideslip {
  padding-right: 12.5rem;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  font-size: 0.6rem;
}

.sideslip-close {
  float: left;
  width: 100%;
  text-align: right;
}
.sideslip-close .icon {
  color: #fff;
  font-size: 1.2rem;
  font-weight: bold;
  position: relative;
  top: 50%;
  margin-top: -12px;
  margin-right: 15px;
}

@media screen and (max-width: 360px) {
  .sideslip-close {
    text-align: center;
  }
  .sideslip-close .icon {
    margin-right: 0;
  }
}
.sideslip-main {
  position: relative;
  float: right;
  width: 12.5rem;
  margin-right: -12.5rem;
  background-color: #fff;
  overflow-y: auto;
}

.sideslip-hd {
  line-height: 2.4;
  font-size: 0.7rem;
  background-color: #f2f2f2;
  text-align: center;
  color: #999;
  position: relative;
  z-index: 9;
}

.sideslip-back {
  position: absolute;
  padding: 0 10px;
  left: 10px;
  top: 0;
}
.sideslip-back .icon {
  color: #f2f2f2;
}

.sideslip-bd h3 {
  padding: 0.5rem;
  color: #e6e6e6;
  font-size: 0.6rem;
}
.sideslip-bd h3.cat-menu {
  padding: 0.5rem;
  border-bottom: 1px solid #f2f2f2;
}
.sideslip-bd h3.cat-menu span {
  display: inline-block;
  color: #333;
  max-width: 2.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sideslip-bd h3.cat-menu a {
  display: inline-block;
  padding: 0;
  margin-left: 0.4rem;
  background: none;
  border: none;
  color: #06d;
  max-width: 2.5rem;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.sideslip-bd h3 a {
  display: inline-block;
  padding: 0.25rem 0.5rem;
  border: 1px solid #ddd;
  background-color: #f7f7f7;
  -webkit-border-radius: 0.125rem;
  -moz-border-radius: 0.125rem;
  border-radius: 0.125rem;
}
.sideslip-bd a {
  display: block;
  color: #333;
}
.sideslip-bd .sideslip-item {
  position: relative;
  padding: 0 0.375rem;
  margin: 0.25rem 0 0.5rem;
  font-size: 0.6rem;
  color: #333;
}
.sideslip-bd .sideslip-item .icon-angle-down {
  position: absolute;
  top: 1.75rem;
  right: 0.85rem;
}
.sideslip-bd .sideslip-item h3 {
  margin: 0;
  padding: 0.375rem 0;
  color: #666;
}
.sideslip-bd .sideslip-item select {
  padding-left: 0.4rem;
  border-color: #ddd;
  width: 100%;
  height: 1.4rem;
  background: #fff;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.sideslip-bd .sideslip-item ul {
  border: 1px solid #ddd;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.sideslip-bd .sideslip-item li {
  border-bottom: 1px solid #ddd;
  width: 100%;
  height: 1.4rem;
}
.sideslip-bd .sideslip-item li:before, .sideslip-bd .sideslip-item li:after {
  display: table;
  content: " ";
  height: 0;
  font-size: 0;
  visibility: hidden;
}
.sideslip-bd .sideslip-item li:after {
  clear: both;
}
.sideslip-bd .sideslip-item li:last-child {
  border-bottom: none;
}
.sideslip-bd .sideslip-item li .item-chk-text {
  float: left;
  margin: 0.4rem;
}
.sideslip-bd .sideslip-item li .item-check {
  position: relative;
  float: right;
  margin: 0.375rem;
  border: 1px solid #ddd;
  width: 0.6rem;
  height: 0.6rem;
  -webkit-border-radius: 2px;
  -moz-border-radius: 2px;
  border-radius: 2px;
}
.sideslip-bd .sideslip-item li .item-check .icon {
  position: absolute;
  top: -0.15rem;
  display: none;
  color: #e44348;
}
.sideslip-bd .sideslip-item li .item-check .icon.active {
  display: block;
}

.sideslip-ope {
  position: absolute;
  bottom: 0;
  width: 100%;
}
.sideslip-ope a {
  float: left;
  width: 50%;
  height: 2.25rem;
  text-align: center;
  line-height: 2.25rem;
}
.sideslip-ope a.ope-clear {
  color: #666;
  background-color: #f2f2f2;
}
.sideslip-ope a.ope-ok {
  color: #fff;
  background-color: #d9363c;
}

.area-lst {
  padding: 0.5rem;
  border-top: 1px solid #f2f2f2;
  -webkit-border-radius: 5%;
  -moz-border-radius: 5%;
  border-radius: 5%;
}
.area-lst li {
  float: left;
  min-width: 60px;
}
.area-lst li a {
  display: block;
  line-height: 1.2rem;
}
.area-lst .active {
  color: #d9363c;
}

.choose-panel {
  padding: 0 0.5rem;
  border-top: 1px solid #f2f2f2;
}

.choose-item {
  border-bottom: 1px solid #f2f2f2;
}
.choose-item .slide-up .icon-angle-down {
  -webkit-transform: rotate(180deg);
  -moz-transform: rotate(180deg);
  -ms-transform: rotate(180deg);
  -o-transform: rotate(180deg);
  transform: rotate(180deg);
}

.choose-item-hd {
  position: relative;
  height: 1.8rem;
  overflow: hidden;
  padding-right: 3rem;
  font-size: 0.6rem;
}
.choose-item-hd .choose-name {
  float: left;
  line-height: 1.8rem;
  width: 100%;
}
.choose-item-hd .active {
  color: #d9363c;
}
.choose-item-hd .choose-more {
  position: absolute;
  top: 0.25rem;
  right: 0.25rem;
  padding: 0.2rem 0.25rem;
  text-align: right;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.choose-item-hd .icon-angle-down {
  font-size: 0.9rem;
  color: #999999;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  transition: all ease 0.3s;
}

.city-lst {
  margin: 0 0 15px;
  padding: 5px;
  background-color: #f2f2f2;
}
.city-lst li a {
  padding: 0 5px;
  color: #666;
}
.city-lst li .active {
  color: #d9363c;
}

.list-cata-sideslip {
  padding: 0 0.5rem;
}
.list-cata-sideslip .item {
  position: relative;
}
.list-cata-sideslip .item a {
  color: #333;
}
.list-cata-sideslip .item a.active {
  color: #d9363c;
}
.list-cata-sideslip .icon {
  display: none;
}
.list-cata-sideslip .icon.active {
  position: absolute;
  right: 0.25rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);
  display: inline-block;
  color: #d9363c;
}

.list-cata-leaf {
  clear: both;
  margin-right: -50px;
  background-color: #333;
  margin-bottom: 10px;
}
.list-cata-leaf li {
  border-bottom: 1px solid #444;
}
.list-cata-leaf li a {
  padding: 10px;
}
.list-cata-leaf li:last-child {
  border-bottom: none;
}

@media screen and (max-width: 319px) {
  html {
    font-size: 19.9375px;
  }
}
@media only screen and (min-width: 320px) {
  html {
    font-size: 20px;
  }
}
@media only screen and (min-width: 360px) {
  html {
    font-size: 22.5px;
  }
}
@media only screen and (min-width: 375px) {
  html {
    font-size: 23.4375px;
  }
}
@media only screen and (min-width: 384px) {
  html {
    font-size: 24px;
  }
}
@media only screen and (min-width: 400px) {
  html {
    font-size: 25px;
  }
}
@media only screen and (min-width: 414px) {
  html {
    font-size: 25.875px;
  }
}
@media only screen and (min-width: 424px) {
  html {
    font-size: 26.5px;
  }
}
@media only screen and (min-width: 480px) {
  html {
    font-size: 30px;
  }
}
@media only screen and (min-width: 540px) {
  html {
    font-size: 33.75px;
  }
}
.list a {
  color: #666;
}

.item {
  border-bottom: 1px solid #ebebeb;
  padding-right: 50px;
  overflow: hidden;
}
.item:last-child {
  border-bottom: none;
}

.item-text {
  display: block;
  padding: 12px 10px;
  color: #666;
  width: 100%;
  float: left;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.item-text .icon {
  margin-right: 5px;
  vertical-align: -1px;
}

.item-icon {
  float: right;
  margin-right: -50px;
  padding: 8px 10px 8px 0;
  text-align: right;
  width: 50px;
  height: 38px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
.item-icon .icon {
  font-size: 1rem;
  color: #a6a6a6;
}

@media screen and (max-width: 319px) {
  html {
    font-size: 19.9375px;
  }
}
@media only screen and (min-width: 320px) {
  html {
    font-size: 20px;
  }
}
@media only screen and (min-width: 360px) {
  html {
    font-size: 22.5px;
  }
}
@media only screen and (min-width: 375px) {
  html {
    font-size: 23.4375px;
  }
}
@media only screen and (min-width: 384px) {
  html {
    font-size: 24px;
  }
}
@media only screen and (min-width: 400px) {
  html {
    font-size: 25px;
  }
}
@media only screen and (min-width: 414px) {
  html {
    font-size: 25.875px;
  }
}
@media only screen and (min-width: 424px) {
  html {
    font-size: 26.5px;
  }
}
@media only screen and (min-width: 480px) {
  html {
    font-size: 30px;
  }
}
@media only screen and (min-width: 540px) {
  html {
    font-size: 33.75px;
  }
}
.list-result {
  border-bottom: 1px solid #ebebeb;
  padding: 10px;
  background: #f2f2f2;
  color: #666;
}
.list-result .h1 {
  color: #eb2334;
}

.list-toolbar {
  border-bottom: 1px solid #ebebeb;
}

.filter-item {
  float: left;
  padding: 10px;
  color: #333;
}
.filter-item .icon {
  margin-right: 3px;
  vertical-align: -2px;
}

@media screen and (max-width: 319px) {
  html {
    font-size: 19.9375px;
  }
}
@media only screen and (min-width: 320px) {
  html {
    font-size: 20px;
  }
}
@media only screen and (min-width: 360px) {
  html {
    font-size: 22.5px;
  }
}
@media only screen and (min-width: 375px) {
  html {
    font-size: 23.4375px;
  }
}
@media only screen and (min-width: 384px) {
  html {
    font-size: 24px;
  }
}
@media only screen and (min-width: 400px) {
  html {
    font-size: 25px;
  }
}
@media only screen and (min-width: 414px) {
  html {
    font-size: 25.875px;
  }
}
@media only screen and (min-width: 424px) {
  html {
    font-size: 26.5px;
  }
}
@media only screen and (min-width: 480px) {
  html {
    font-size: 30px;
  }
}
@media only screen and (min-width: 540px) {
  html {
    font-size: 33.75px;
  }
}
.result {
  text-align: center;
  padding: 50px 0 80px;
}
.result .result-hd {
  font-size: 22px;
  margin-bottom: 20px;
  color: #33ab56;
}
.result .icon {
  font-size: 26px;
  margin: -4px 5px 0 0;
  vertical-align: middle;
}

.result-para {
  margin: 15px 0;
  line-height: 1.5;
  font-size: 15px;
}

.result-jump p {
  margin-bottom: 10px;
}
.result-jump .btn-strip {
  margin: 0;
}

/* suggest key */
.suggest-key {
  overflow: hidden;
}
.suggest-key li {
  margin: 15px 0 0 10px;
  float: left;
  border-radius: 12px;
  border: 1px solid #e5e5e5;
  font-size: 0.6rem;
  padding: 5px 10px;
}
.suggest-key li a {
  color: #666;
}

.recmd-key-lst {
  font-size: 0.6rem;
  color: #666;
  padding: 0 10px;
}
.recmd-key-lst li {
  line-height: 40px;
  border-bottom: 1px solid #e6e6e6;
}
.recmd-key-lst em {
  color: #d0424e;
}

/* loading */
.loading-wrap,
.no-result {
  font-size: 0.7rem;
  color: #666;
  text-align: center;
  padding: 55px 0 0 0;
}

.loading-wrap p {
  margin-top: 10px;
}

.no-result img {
  width: 163px;
  height: 90px;
}
.no-result p {
  margin-top: 25px;
}

@media screen and (max-width: 319px) {
  html {
    font-size: 19.9375px;
  }
}
@media only screen and (min-width: 320px) {
  html {
    font-size: 20px;
  }
}
@media only screen and (min-width: 360px) {
  html {
    font-size: 22.5px;
  }
}
@media only screen and (min-width: 375px) {
  html {
    font-size: 23.4375px;
  }
}
@media only screen and (min-width: 384px) {
  html {
    font-size: 24px;
  }
}
@media only screen and (min-width: 400px) {
  html {
    font-size: 25px;
  }
}
@media only screen and (min-width: 414px) {
  html {
    font-size: 25.875px;
  }
}
@media only screen and (min-width: 424px) {
  html {
    font-size: 26.5px;
  }
}
@media only screen and (min-width: 480px) {
  html {
    font-size: 30px;
  }
}
@media only screen and (min-width: 540px) {
  html {
    font-size: 33.75px;
  }
}
/* tip */
.tip {
  padding-top: 90px;
  text-align: center;
}
.tip img {
  max-width: 92px;
  max-height: 92px;
  margin-bottom: 20px;
}
.tip .tip-hd {
  padding: 10px 0 5px 0;
}
.tip .tip-bd {
  color: #999;
  font-size: 0.7rem;
  line-height: 18px;
}

.succ-tip .icon,
.info-tip .icon {
  font-size: 1.8rem;
}
.succ-tip .tip-hd,
.info-tip .tip-hd {
  margin-top: 7px;
}
.succ-tip .tip-ope,
.info-tip .tip-ope {
  margin-top: 10px;
}
.succ-tip .tip-ope .icon,
.info-tip .tip-ope .icon {
  font-size: 1.25rem;
  margin: -5px 0 0 0;
}

.alpha-tip {
  padding: 10px;
  text-align: center;
  border-radius: 2px;
  color: #fff;
  font-family: 'microsoft yahei';
  font-size: 0.7rem;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  top: 135px;
  z-index: 999;
}

/* telec cert */
.icon-telec {
  width: 50px;
  height: 16px;
  display: inline-block;
  background: url("../../../img/yellow_page/common/icon-telec@2x.png");
  background-size: 50px 16px;
}

.co-lst {
  background: #f2f2f2;
}

.co-item {
  padding: 15px 10px 10px;
  overflow: hidden;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 15px;
  background: #fff;
}
.co-item dl {
  font-size: 0.6rem;
  border-bottom: 1px dashed #dbdbdb;
  padding-bottom: 5px;
  margin-bottom: 10px;
  overflow: hidden;
}
.co-item dl dt {
  float: left;
  color: #666;
  padding-bottom: 5px;
  line-height: 1.5;
}
.co-item dl dd {
  color: #333;
  line-height: 1.5;
  padding-bottom: 5px;
  overflow: hidden;
}

.auth {
  line-height: 25px;
}
.auth .join-fav {
  float: left;
}
.auth .go-yp {
  line-height: 25px;
  float: right;
  border: 1px solid #ccc;
  padding: 0 10px;
  background: #f0f0f0;
}
.auth .icon {
  margin: -3px 5px 0 0;
}

.co-name {
  margin-bottom: 8px;
  line-height: 1.5;
}

.co-label {
  float: left;
  padding-right: 10px;
}
.co-label input {
  margin: 5px 0 0 0;
}

.co-summary {
  overflow: hidden;
}

/* telec cert */
.telec-cert {
  font-size: 0.6rem;
  padding: 3px 5px;
  margin-left: 5px;
  background: #005099;
  border-radius: 2px;
  color: #fff;
  white-space: nowrap;
}
.telec-cert .icon {
  margin-right: 3px;
  font-size: 0.6rem;
}

.pager {
  padding: 0;
}
